# Fiware Orion Context Broker
VITE_FIWARE_URL=http://localhost:1026
VITE_FIWARE_SERVICE=aquapure
VITE_FIWARE_SERVICEPATH=/

# API Configuration
VITE_API_URL=http://localhost:4000

# App Configuration
VITE_APP_NAME=AquaPure H2
VITE_APP_VERSION=1.0.0

# Update Interval (milliseconds)
VITE_DATA_UPDATE_INTERVAL=2000
